<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData">
            <NotAuthorized>
                <LayoutView>
                    <p>Access denied.</p>
                </LayoutView>
            </NotAuthorized>
            <Authorizing>
                <LayoutView>
                    <p id="blazor-loading-ui">Loading...</p>
                </LayoutView>
            </Authorizing>
        </AuthorizeRouteView>
    </Found>
    <NotFound>
        <LayoutView>
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
